<h3 class="text-center text-white pt-5">Sign up form</h3>
<div class="container">
    <div class="row justify-content-center align-items-center">
        <div class="col-md-6">
            <div class="col-md-12">
                <h3 class="text-center text-info">Sign Up</h3>
                <div class="form-group">
                    <div>
                        <%= flash[:notice] if flash[:notice]%>
                    </div>
                    <%= form_for :user, url: '/users' do |form| %>
                    <label for="Email" class="text-info"><%= label_tag 'Email :'%></label>
                    <%= form.text_field :email ,placeholder: "Email", class: 'form-control' %></br>

                    <label for="firstname" class="text-info"><%= form.label :first_name %></label>
                    <%= form.text_field :first_name ,placeholder: "First name", class: 'form-control' %></br>

                    <label for="firstname" class="text-info"><%= form.label :last_name %></label>
                    <%= form.text_field :last_name ,placeholder: "Last name", class: 'form-control' %></br>

                    <label for="password" class="text-info"><%= label_tag 'Password : '%></label>
                    <%= form.password_field :password,placeholder: "Password", class: 'form-control' %>
                </div>
                <div class="form-group">
                    <%=  submit_tag("Sign Up") %>
                </div>
                <strong>
                    <p> Login Here...!</p>
                </strong>
                <span>
                    <a class="link-primary" href="/login">Login</a>
                </span>
                <% end %>
                </form>
            </div>
        </div>
    </div>
</div>